.library {
    background: rgba(126, 5, 126, 0.27);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.3px);
    border: 3px solid rgba(179, 179, 179, 0.493);
    text-align: center;
    margin: 2%;
    color: #fff;
    
   
}

.libraryList {
    padding: 0;
    margin: 2%;
    
}
.titeLibrary {
    margin: 0;
    text-align: center;
}

.albumName {
    
    text-align: center;
    margin: 0;
    font-weight: bold;
    
    
}


.libraryItem {
   display: flex;
    align-items: center;
    margin: 2%;
    justify-content: space-between;
    
}

.imgAlbm {
    border-radius: 50%;
    width: 7%;
    
}

.trackListCont {
    text-align: center;
    margin: 0;
    
   
    
}


.litrak {
    list-style: none;
}

.track {
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
    transition: ease-in-out 0.8s;
    
}

.track:hover {
    scale: 1.5;
    transition: ease-out 0.1;
    color: #535353;
}

.trackList {
    padding: 0;
}


.empty {
    display: flex;
    color: #000;
    justify-content: center;
    font-weight: bold;
    font-size: 40px;
}

.showSongLibrary {
    height: 40px;
    width: 100px;
    font-size: 1.5vh;
    font-weight: bolder;
    color: #000000;
    background:transparent;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.3px);
    border: 1px solid rgba(255, 255, 255, 0.705);
    align-items: center;
    cursor: pointer;
    transition: ease-out 0.8s;
}

.showSongLibrary:hover {
    scale: 1.2;
    transition: ease-out 0.2s;
    color: #fff;
}