.header {
    background: linear-gradient(to bottom, #4b0082, #000000);
    margin: 12px;
    display: flex;
    height: 113px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.appTitle {
    color: #fff;
}